sudo: false
language: node_js
branches:
  only:
    - master
cache:
  directories:
    - node_modules
node_js:
  - 12
  - 10
  - 8
before_install:
  - npm update
install:
  - npm install
script:
  - npm test
after_success:
  - npm run coveralls
